:host {
  display: block;
  text-align: left;

  color: $black;

  .HeadlineTertiary {
    @include fontsize-2xl();
    color: inherit;
    margin: 0;

    @media screen and (min-width: $breakpoint-websiteSmall) {
      @include fontsize-3xl();
    }
  }

  .HeadlineTertiary--highlight {
    color: $app-red;
  }
}
