$local-spacing-size: 10px;

:host {
  display: inline-block;

  app-input-singleline {
    display: block;
    &:not(.show-password-eye) ~ .capslock-hint {
      display: none;
    }
  }

  ::slotted(app-password-policy-rule) {
    margin-top: 7px;
    padding: 0 $local-spacing-size;
  }

  ::slotted(app-password-policy-rule:first-child) {
    margin-top: 10px;
  }

  .capslock-hint,
  .password-rules {
    display: flex;
    padding: 0 $local-spacing-size;
    margin-top: 7px;
    @include smallInputSizingPolicy();
  }

  .capslock-hint {
    color: $app-grey-05;
  }
}
