:host {
  display: flex;
  @include smallInputSizingPolicy();

  &:host(.rule-valid) {
    color: $app-green-01;
    .icon {
      @include app-icon("checkmark-circle");
    }
  }
  &:host(.rule-invalid) {
    color: $app-red;
    .icon {
      @include app-icon("x-circle");
    }
  }

  .text {
    margin-left: 8px;
    flex-grow: 1;
    width: 0px;
  }
  .icon {
    margin-top: 0.25em;
  }
}
