$app-red: #d4001a;
$app-red-2: #bc0017;
$app-red-hover-01: #ba0016;
$app-red-hover-02: #810011;

$app-grey-01: #1e1e1e;
$app-grey-02: #414141;
$app-grey-03: #5d5d5d;
$app-grey-04: #888888;
$app-grey-05: #a5a5a5;
$app-grey-06: #c3c3c3;
$app-grey-07: #d7d7d7;
$app-grey-08: #ebebeb;
$app-grey-09: #f5f5f5;
$app-grey-10: #fafafa;

$white: #ffffff;
$black: #000000;

$prime-platin: #8b8d8e;
$prime-platin-light: #aeafb0;
$prime-platin-gradient: linear-gradient(90deg, $prime-platin, $prime-platin-light);
$prime-gold: #988642;
$prime-gold-light: #b7aa7b;
$prime-gold-gradient: linear-gradient(90deg, $prime-gold, $prime-gold-light);

$app-blue-01: #3489cb;
$app-dark-blue-01: #53419c;

$app-blue-02: #a1cced;
$app-dark-blue-02: #a7a7eb;

$app-purple-01: #7c3ba8;
$app-purple-02: #c6a4db;

$app-green-01: #06944e;
$app-dark-green-01: #025951;

$app-green-02: #8ed4a7;
$app-dark-green-02: #74b0a4;

$app-green-03: #ddf2e4;
$app-dark-green-03: #d5e7e3;

$app-yellow-01: #f6c845;
$app-yellow-02: #fae9a0;
$app-yellow-03: #fef8e2;

$app-orange-01: #f98f25;
$app-orange-02: #ffc787;
$app-orange-03: #ffeedb;

$app-turquoise-01: #2db3a3;
$app-turquoise-02: #9de0d9;

$app-brown-01: #a13710;
$app-brown-02: #e09d84;
