$app-header-height: 76px;
$app-header-large-height: 90px;
$app-side-menu-collapsed-width: 45px;
$app-side-menu-item-height: 45px;
$app-side-menu-item-height-small: 35px;
$app-side-menu-animation-pulse: 8px;
$app-side-menu-animation-duration: 0.3s;

:root {
  --app-side-menu-width: 200px;
}
