:host(.DownloadListItem-attribute) {
  @include fontsize-s();

  .DownloadListItem-attribute-inner {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    display: inline-flex;
    color: $app-grey-05;
    width: 100%;
    margin-right: 15px;

    @media screen and (min-width: $breakpoint-websiteSmall) {
      width: 180px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      display: none;
    }
  }
}
