:host {
  width: 100%;
  max-width: 100%;
  height: auto;

  figure,
  picture,
  img {
    display: block;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;

    object-fit: inherit;
    object-position: inherit;

    aspect-ratio: inherit;
  }

  figure {
    margin: 0;
  }

  figcaption {
    @include fontsize-m();
    margin-top: 20px;
  }
}

:host(.Image--lazy) {
  background-image: none !important;
  background-color: $app-grey-06;
}
